<div class="containter" ng-controller="MainCtrl">
  <form role="form" ng-submit="getWeather()">
    <div class="form-group">
      <label for="inputCityState">City, State</label>
      <input ng-model="cityState" type="text" class="form-control" id="inputCityState" placeholder="City, State" required>
      <br/>
      <select ng-model="dayCnt" class="btn btn-primary" required>
        <option value="1">Current</option>
        <option value="5">5 Day</option>
        <option value="7">7 Day</option>
        <option value="10">10 Day</option>
      </select>
    </div>
<!--     <div class="form-group">
  <label for="inputZipCode">or ZIP code</label>
  <input ng-model="location.zipCode" type="text" class="form-control" id="inputZipCode" placeholder="ZIP code">
</div> -->
   <button type="submit" class="btn btn-default">Submit</button>
  </form> <br/>
  <div>
    <table class="table table-bordered">
    <th ng-repeat= "header in headers" ng-show="current_condition">
        <a> {{headers[$index]}} </a>
    </th>
    <span ng-show="!current_condition">No Results Found </span>
    <tr ng-show="current_condition">
        <td> Now </td>
        <td> {{current_condition.temp.day}} </td>
        <td> {{current_condition.desc}} </td>
        <td> {{current_condition.temp.min}} </td> 
        <td> {{current_condition.temp.max}}  </td>
        <td> {{current_condition.humidity}} </td>
    </tr>
    <tr ng-repeat= "forecast in forecasts" ng-show="forecasts">
        <td> {{forecast.date}} </td>
        <td> {{forecast.temp.day}} </td>
        <td> {{forecast.desc}} </td>
        <td> {{forecast.temp.min}} </td> 
        <td> {{forecast.temp.max}}  </td>
        <td> {{forecast.humidity}} </td>
    </tr>
</table>
  </div>
  
</div>
